* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f9fa;
  color: #333;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  color: #666;
}

ul, ol {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  margin: 5px 0;
}
