[build]
command = "npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "18"

[context.production.environment]
VITE_BACKEND_URL = "https://tru-backend-o1zc.onrender.com"
VITE_FRONTEND_URL = "https://fo.trugroup.cm"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
